body {
  font-family: "Garamond", serif;
  background-color: #9CCC65;
  text-align: center;
  color: black;
}

h1{
  color = #6B8849;
}

p{
  font-size: 14px;
}

main:before  {
       width: auto;
       margin-bottom: 25px;
       border: #8c9bfa;
       height: 200px;
       display: block;
       content: "";
       box-shadow: ;
}
